MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
DATABASE_URI=mongodb://root:password@mongo_db/configurator?authSource=admin
PAYLOAD_SECRET=d31aa5c1fc0b26818fce6241
VITE_TITLE=3d Configurator
VITE_API_BASE=http://localhost:3000/api
VITE_MAP_KEY=

# When VITE_MOCK_API is set to true
# 1. the api would be mocked using src/mocks/traffic.json
# 2. assets would be served from ./configurator_frontend/public/mock-uploads
# Before setting this to true check if traffic.har exists 
# and copy files from ./configurator-backend/uploads to ./configurator_frontend/public/mock-uploads

# For local using api
VITE_MOCK_API=false
VITE_ASSET_BASE=http://localhost:3000
VITE_PREFIX='/'

# For local mock
# VITE_MOCK_API=false
# VITE_PREFIX='/'
# VITE_ASSET_BASE='http://localhost:3000'

# For github pages
# VITE_MOCK_API=true
# VITE_PREFIX='/3d-configurator'
# VITE_ASSET_BASE='https://breathingcyborg.github.io/3d-configurator'